.myabout {
  /* max-width: 87%;margin: auto; */
  padding: 0 4%;
  font-size: regular;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
 
}
.myabout p {
  line-height: 38px;
  letter-spacing: 2px;
}
