.projectimage img {
  width: 370px;
}
.projectone {
  display: flex;
  width: 90%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #aaa7a7;
  margin-left: 2%;
  border: 0.5px solid rgb(49, 48, 48);
}
.projectoveriew{
  width: 35vw;
  font-size: medium;
}
@media screen and (max-width: 1010px) {
  .projectone {
    display: flex;
    flex-direction: column;
    max-width: 50vw;
    height: 100%;
    border-radius: 2%;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: #aaa7a7;
  }
  .projectimage img {
    width: 50vw;
  }
  .projectoveriew {
    font-size: small;
  }
}

@media screen and (max-width: 850px) {
  .projectone {
    max-width: 50vw;
    height: 100%;
    border-radius: 2%;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: #aaa7a7;
  }
  /* .projectimage {
    display: flex;
    align-items: center;
   
    width: 70vw;
    cursor: pointer;
  } */
  .projectimage img {
    width: 50vw;
  }
  .projectoveriew {
    font-size: small;
  }
}
@media screen and (max-width: 620px) {
  .projectone {
    max-width: 50vw;
    height: 100%;
    border-radius: 2%;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: #aaa7a7;
    
  }
  .projectimage img {
    width: 50vw;
  }
  .projectoveriew {
    font-size: small;
  }
}
